body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#controls {
  padding: 1rem;
  background: #f7f7f7;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}
canvas.threejs {
  display: block;
  width: 100%;
  height: 100vh;
}